<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/simple-sidebar-dashboard.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script> 

  </head>

  <body>
    <div class="container-fluid">
      <div class="col-lg-12">

    {% block sidebar %}

        <div id="wrapper" class="toggled">
          <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li class="sidebar-brand">
                <a href="#" class="pull-right">
                  <img src="/img/logo/dashboard.png" style="width:70%; margin:25px 0px 0px 15px">
                </a>
              </li>
              <li>
                <a href="/dashboard">
                  Dashboard
                </a>    
              </li>
              <li>
                <a href="/dashboard/articles">Articles</a>
              </li>
              <li>
                <a href="/dashboard/comments">Commentaires</a>
              </li>
              <li>
                <a href="/dashboard/users">Utilisateurs</a>
              </li>
              <li>
                <a href="/">Retour sur le site</a>
              </li>
            </ul>
          </div>

    {% endblock %}

    {% block content %}
    {% endblock %}

    </div>
  </div>

    {% block javascript %}


    {% endblock %}

  </body>
</html>