{% extends "BaseDashboard.html.twig" %}

{% block content %}


      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="jumbotron">
                <h1>Administrez vos articles</h1>
				        <a href="article/add" class="btn btn-primary pull-left" role="button"> Ajouter un nouvel article </a>
		          </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Articles <span class="badge" style="background-color: #00264d; font-size:16px; margin-top:2px">{{ articles | length }}</span></h3>
              </div>
              <div class="panel-body">
                {% for article in articles %}
                  <h4>
                    {{ article.title }}
                    <small> | {{ article.date | date("m/d/Y") }}</small>
                    <a href="/dashboard/article/edit?id={{ article.id }}" type="button" class="btn btn-success btn-xs">Éditer</a>
                    <a href="/dashboard/article/delete?id={{ article.id }}" class="btn btn-danger btn-xs" role="button"> Supprimer</a>
                  </h4>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

{% endblock %}
    
{% block javascript %}

	<script>
	$("#menu-toggle").click(function(e) {
	    e.preventDefault();
	    $("#wrapper").toggleClass("toggled");
	});

  tinymce.init({
    selector: '#article'
  });

	</script>

{% endblock %}
